<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f9996f">  <td>22/02/03 12:10:10</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Hook.beforeTest(org.testng.ITestContext, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.ClickCanvasButton@5c44c582]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1542520418</td>   <td></td> </tr>
<tr bgcolor="82d682">  <td>22/02/03 12:10:20</td>   <td>10563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClickCanvasButton.clickButton(org.testng.ITestContext)[pri:0, instance:testCases.ClickCanvasButton@5c44c582]">clickButton</td> 
  <td>main@1542520418</td>   <td></td> </tr>
<tr bgcolor="f9996f">  <td>22/02/03 12:10:54</td>   <td>44290</td> <td>&nbsp;</td><td title="&lt;&lt;Hook.afterTest()[pri:0, instance:testCases.ClickCanvasButton@5c44c582]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1542520418</td>   <td></td> </tr>
</table>
